[veidly_servers]
veidly-prod ansible_host=YOUR_SERVER_IP ansible_user=root

[veidly_servers:vars]
ansible_python_interpreter=/usr/bin/python3
domain=veidly.com
release_tag=v1.0.0
github_repo=wejdross/veidly.com
jwt_secret=CHANGE_ME_TO_RANDOM_STRING
mailgun_domain=mg.veidly.com
mailgun_api_key=YOUR_MAILGUN_API_KEY
mailgun_from_email=noreply@veidly.com
admin_email=admin@veidly.com
